.light-mode {
  background-color: #f7f7f7;
  color: #006790;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.dark-mode {
  background-color: #006790;
  color: #f7f7f7;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.dark-mode nav {
  background-color: #1b2938;
}

span:hover {
  cursor: pointer;
}

.lightButton {
  border: 3px #f7f7f7 solid;
  border-radius: 5px;
  color: #f7f7f7;
  background-color: #006790;
}

.darkButton {
  border: 3px #006790 solid;
  border-radius: 5px;
  color: #006790;
  background-color: #f7f7f7;
}
