html,
body {
  margin: 0px;
}

.light-mode {
  background-color: #f7f7f7;
  color: #006790;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.dark-mode {
  background-color: #006790;
  color: #f7f7f7;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.dark-mode nav {
  background-color: #1b2938;
}

span:hover {
  cursor: pointer;
}
